<!DOCTYPE html>
<!--[if IE 9]>
<html class="lt-ie10" lang="en" >
<![endif]-->
<html class="no-js" lang="en" >
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Contacts</title>

	<!-- normalize.css and modernizr.js help with browser compatibility -->
	<link rel="stylesheet" href="/contacts_web_app/static/css/normalize.css">
	<link rel="stylesheet" href="/contacts_web_app/static/css/foundation.css">
	<script src="/contacts_web_app/static/js/vendor/modernizr.js"></script>
</head>
<body>

<div class="row">
    <div class="medium-4 columns">Name:</div>
    <div class="medium-8 columns">hello</div>
</div>

<!-- include before </body> tag -->
<script src="/contacts_web_app/static/js/vendor/jquery.js"></script>
<script src="/contacts_web_app/static/js/foundation.min.js"></script>
<script>
	$(document).foundation();
</script>
</body>
</html>