{% load staticfiles %}

<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Modify Contact</title>
    <link rel="stylesheet" href="{% static 'normalize.css' %}">
    <link rel="stylesheet" href="{% static 'foundation.css' %}"/>
    <link rel="stylesheet" href="{% static 'modify_contact.css' %}">

</head>
<body>
    <header>
        <h1>Telephone Directory</h1>
    </header>
    <div>
        <h1>Modify Contact</h1>
        <form action="/modify_contact" method="post">{% csrf_token %}
            <div class="row">
                <div class="small-3 columns">
                    <label for="ip1" class="right inline">Name:</label>
                </div>
                <div class="small-7 columns">
                    <input id="ip1" type="text" name="name" value="{{ name }}"/>
                </div>
                <div class="small-2 columns"></div>
            </div>
            <div class="row">
                <div class="small-3 columns">
                    <label for="ip2" class="right inline">Phone No:</label>
                </div>
                <div class="small-7 columns">
                    <input id="ip2" type="text" name="phone_no" value="{{ phone_no }}" readonly/>
                </div>
                <div class="small-2 columns"></div>
            </div>
            <div class="row">
                <div class="small-3 columns">
                    <label for="ip3" class="right inline">Email:</label>
                </div>
                <div class="small-7 columns">
                    <input id="ip3" type="text" name="email" value="{{ email}}"/>
                </div>
                <div class="small-2 columns"></div>
            </div>
            <div class="row">
                <div class="small-3 columns">
                    <label for="ip4" class="right inline">Street:</label>
                </div>
                <div class="small-7 columns">
                    <input id="ip4" type="text" name="street" value="{{ street }}"/>
                </div>
                <div class="small-2 columns"></div>
            </div>
            <div class="row">
                <div class="small-3 columns">
                    <label for="ip5" class="right inline">City:</label>
                </div>
                <div class="small-7 columns">
                    <input id="ip5" type="text" name="city" value="{{ city }}"/>
                </div>
                <div class="small-2 columns"></div>
            </div>
            <div class="row">
                <div class="small-3 columns">
                    <label for="ip6" class="right inline">State:</label>
                </div>
                <div class="small-7 columns">
                    <input id="ip6" type="text" name="state" value="{{ state }}"/>
                </div>
                <div class="small-2 columns"></div>
            </div>
            <div class="row">
                <div class="small-3 columns">
                    <label for="ip7" class="right inline">Pin_code:</label>
                </div>
                <div class="small-7 columns">
                    <input id="ip7" type="number" name="pin_code" value="{{ pin_code }}"/>
                </div>
                <div class="small-2 columns"></div>
            </div>
            <p><button id="btn_mod1" class="button small" type="button">Submit</button>
                <button id="btn_mod2" class="button small" type="button">Reset</button>
            </p>
            <p id="msg_add" style="color:red;"></p>
        </form>
        <a class="button small" href="/">Home</a>
    </div>
    <footer><h4>Copyrights@TeamYellow</h4></footer>
    <script type="text/javascript" src="{% static 'js/jquery-3.1.0.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'modify_contact.js' %}"></script>

</body>
</html>